extends layout

block content
	#emp-page
		if emp
			.container
				.box2.text-center(class=(user.name==emp.name)?"col-sm-5":"col-sm-offset-3 col-sm-6")
					h1 Employee
					hr
					h2#na #{emp.name}
					hr
					h4 Company - #{emp.company}
					h4 Job - #{emp.job}
					if admin
						h4 Admin - #{admin.name}
					if emp.hiredate
						h4 Hire-Date - #{emp.hiredate.toDateString()}
					h4 Job - #{emp.job}
					h4 Email - #{emp.email}	
					a.btn.btn-primary.payroll(href='/users/payroll/'+emp._id) Show payroll and working hours
				if user.name==emp.name
					.box2.col-sm-5.col-sm-offset-2.text-center
						h2#time
						if !user.in
							form(method='POST' action='/users/intime/'+user._id)
								.form-group
									button.btn.btn-success.btn2.btn-punch(type='submit') In-Punch
						if user.in
							form(method='POST' action='/users/outtime/'+user._id)
								.form-group
									button.btn.btn-warning.btn2.btn-punch(type='submit') Out-Punch
							h4(style="position:absolute;bottom:50px;") You punched in at #{user.intime}
				else
					.col-sm-8.col-sm-offset-3
						h3 Check employees' payroll by clicking the button
			
		if user
			if user.name==emp.name
				br
				.container
					hr
				br
				.container
					.box2
						.col-sm-6
							h3 Apply for leave
							p Sick - 5 hrs pay
							p Casual - 3 hrs pay
							p Training - 7 hrs pay
							form.form-horizontal(method="POST" action="/users/leave/"+user._id)
								.form-group
									.col-sm-8
										select.form-control(name="selleave")#sel1
											option Sick
											option Casual
											option Training
								.form-group
									.col-sm-8
										input.form-control(name="ldate" ,type="date")
								.form-group
									.col-sm-offset-1
										button.btn.btn-primary(type="submit") Apply for leave
						.col-sm-4
							p Limit for each type of leave is 12 days
							p Remaining :
							p Sick - #{10-user.sickleaves}
							p Casual - #{10-user.casualleaves}
							p Training - #{10-user.trainingleaves}
	script.
		function checkTime(i) {
		  if (i < 10) {
			i = "0" + i;
		  }
		  return i;
		}

		function startTime() {
		  var today = new Date();
		  var h = today.getHours();
		  var m = today.getMinutes();
		  var s = today.getSeconds();
		  // add a zero in front of numbers<10
		  m = checkTime(m);
		  s = checkTime(s);
		  document.getElementById('time').innerHTML = h + ":" + m + ":" + s;
		  t = setTimeout(function() {
			startTime()
		  }, 500);
		}
		startTime();
				
				
