extends layout

block content
	#home
		.container


			// Container for front page heading and short info

			div(class=user?"":"col-sm-6")
				h1= title
				h3 Welcome to #{title}
				hr
				.col-sm-6.col-sm-offset-3
					ul
						li Track working hours
						li Get salary info
						li Apply for leaves
				if user
					h3 Welcome #{user.name}
					if user.admin=="admin"
						a.btn1(href='/admin') #{user.company}
					else
						a.btn1(href='/users/'+user._id) #{user.name}




			// Sign-in box Renders if no user is logged in
			
			if !user
				.col-sm-5.col-sm-offset-1.box2(style="padding-top:25px;")
					h1 Login to continue
					hr
					form.form-horizontal(method="POST" action="/login")
						.form-group
							.col-sm-6.col-sm-offset-3
								input.form-control.username(name="username" ,type="text" ,placeholder="ID" required)
						.form-group
							.col-sm-6.col-sm-offset-3
								input.form-control.password(name="password" ,type="password",placeholder="Password" required)
						input.btn.btn-success.submit(type="submit" value="Login")
					hr
					h4 Don't have an account ?
					br
					a.btn.btn-primary.btn-xs(href='/signup/emp') Register as an employee *
					br
					br
					a.btn.btn-primary.btn-xs(href='/signup/admin') Register as a company admin
					br
					br
					p *Company key required to register as an employee
								
