extends layout

block content
    if user
        .container
            .row
                h2 #{emp.name}
                h3 Job - #{emp.job}
            .row
                if emp.intime
                    p Currently in work
            h3 Your working slots : 
            p Current rate - 100 Rs. per hour
            .row
                .table-responsive
                    table.table.col-sm-6
                        thead
                            tr
                                th.
                                    Sr. no.
                                th.
                                    Date
                                th.
                                    In-time
                                th.
                                    Out-time
                                th.
                                    Duration(hrs)
                                th.
                                    Pay (Rs.)
                        tbody
                            - var sum=0;
                            each time,i in times
                                if time.complete
                                    -
                                        var rate = 100;
                                        var dur = (((time.outtime - time.intime)/1000)/3600).toFixed(4);
                                        var pay = (dur*rate).toFixed(2);
                                        sum+=parseFloat(pay);
                                    tr
                                        td.
                                            #{i+1}
                                        td.
                                            #{time.intime.toDateString()}
                                        td.
                                            #{time.intime.toLocaleTimeString()}
                                        td.
                                            #{time.outtime.toLocaleTimeString()}
                                        td.
                                            #{dur}
                                        td.
                                            #{pay}
            h2 Total pay - Rs.  #{sum.toFixed(2)}
                                
            
    
