extends layout

block content
    if user
        .container
            .row
                h2 #{emp.name}
                h3 Job - #{emp.job}
            .row
                if emp.intime
                    p Currently in work
            h3 Your working slots : 
            p Current rate - 50 Rs. per hour
            .row
                .table-responsive
                    table.table.col-sm-6
                        thead
                            tr
                                th.
                                    Sr. no.
                                th.
                                    In-time
                                th.
                                    Out-time
                                th.
                                    Duration(hrs)
                                th.
                                    Pay (Rs.)
                        tbody
                            each time,i in times
                                if time.complete
                                    -
                                        var rate = 50/3600;
                                        var dur = (((time.outtime - time.intime)/1000)/3600).toFixed(4);
                                        var pay = (dur*rate).toFixed(4);
                                    tr
                                        td.
                                            #{i+1}
                                        td.
                                            #{time.intime.getTime()/1000}
                                        td.
                                            #{time.outtime.getTime()/1000}
                                        td.
                                            #{dur}
                                        td.
                                            #{pay}
                                
            
    
